<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{nav.html::navbar}"></div>

<form action="/editItem" method="POST">
    <input type="hidden" th:value="${item.getId()}" name="itemId">
    <input type="text" th:value="${item.getTitle()}" name="itemName" maxlength="99">
    <input type="number" th:value="${item.getPrice()}" name="itemPrice">
    <button >수정</button>
</form>
</body>
</html>